/* DesktopHomepage.css */
.desktop-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1vw;
    height: 95vh;
    max-height: 95vh;
}
