/* VerticalMenu.css */
.vertical-menu-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: clamp(120px, 14vw, 200px);
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 7vh;
  font-size: clamp(0.75rem, 1.3vw, 1.1rem);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: normal;
}

.functionality-menu-items {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.menu-link {
  color: var(--primary-text-color);
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.menu-link:hover {
  opacity: 0.8;
}

.menu-link.active {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/* Media query for medium-sized screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .vertical-menu-bar {
    width: clamp(120px, 16vw, 180px);
  }

  .menu-items {
    gap: 5vh;
    font-size: clamp(0.7rem, 1.2vw, 1rem);
  }

  .functionality-menu-items {
    gap: 2vh;
  }
}
